@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-ch-light-mode-neutral-900: #051513;
  --color-ch-light-mode-neutral-800: #4c5c59;
  --color-ch-light-mode-neutral-500: #899492;
  --color-ch-light-mode-neutral-400: #c0cfcc;
  --color-ch-light-mode-neutral-300: #dde9e7;
  --color-ch-light-mode-neutral-100: #e8f0ef;

  --color-ch-dark-mode-neutral-900: #001414;
  --color-ch-dark-mode-neutral-800: #001f1f;
  --color-ch-dark-mode-neutral-600: #002e2d;
  --color-ch-dark-mode-neutral-500: #004241;
  --color-ch-dark-mode-neutral-400: #004746;
  --color-ch-dark-mode-neutral-300: #00706e;
  --color-ch-dark-mode-neutral-100: #b1b9b9;

  --color-ch-teal-700: #014745;
  --color-ch-teal-800: #013c3b;
  --color-ch-red-600: #fd4740;
  --color-ch-red-800: #cb0a04;
  --color-ch-grey: #4d4d4d;
  --color-ch-light-grey: #e9eaeb;
  --color-ch-blur: #000000b3;
  --color-ch-lighter-grey: #595454;
  --color-ch-lightest-grey: #d9d9d9;

  --font-sans: 'Roboto', ui-sans-serif, system-ui, -apple-system, 'Segoe UI',
    sans-serif;
}

@layer base {
  body {
    font-family: 'Manrope', sans-serif;
    @apply transition-colors duration-300 ease-in-out;
  }
}

::-webkit-scrollbar {
  width: 2px;
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}

* {
  scrollbar-width: unset;
  scrollbar-color: rgba(255, 255, 255, 0.15);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.toast-enter {
  animation: slideIn 0.3s ease-out forwards;
}

.toast-exit {
  animation: slideOut 0.3s ease-in forwards;
}

.toast-item {
  transition: all 0.2s ease-out;
}
